[Unit]
Description=docker-compose on prodekanus

[Install]
WantedBy=multi-user.target

[Service]
User=docker
Group=docker
Restart=always
WorkingDirectory=/home/docker/compose
ExecStart=/usr/bin/docker-compose up --no-build --no-recreate
