[Unit]
Description=docker-compose on prodekanus
Requires=docker.service
After=docker.service

[Install]
WantedBy=multi-user.target

[Service]
User=docker
Group=docker
WorkingDirectory=/home/docker/compose
ExecStart=/bin/sh -c "docker-compose start && docker-compose logs --tail=0 -f"
ExecStop=/usr/bin/docker-compose stop
ExecStop=/bin/sleep 5
